#
output_repository*
.java*
.parallel*
.cache*
.font*
.snakemake/
.snakemake/locks/0.input.lock
.snakemake/locks/0.output.lock

# Data
*.fastq*
*.fq*
*.bam
*.sam
*.fasta
*.fa
*.fna

# Results / intermediates
output_repository*

# Containers & envs
*.sif
.env
.conda/
.mamba/

# Logs
*.log

# Tool caches
.quast/
